



































































._icon[data-v-30128117] {
  animation: loading-icon__animation .65s infinite linear;
  transform-origin: 50% 50%;
}

@keyframes loading-icon__animation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

